version: "3.9"

services:
  ipd_project_rest_api_server:
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      - "3100:3100"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_PORT: 5432
      POSTGRES_HOST: postgres_db
      POSTGRES_DATABASE: ipd_project_rest_api_postgres_db
      MONGO: mongodb://root:root@mongo_db:27017/
      MONGO_DB: ipd_project_rest_api_mongo_db
    volumes:
      - ./:/app
      - /app/node_modules
    restart: "unless-stopped"
    networks:
      - backend
    depends_on:
      - mongo_db
      - postgres_db


  mongo_db:
    image: mongo
    ports:
      - "27020:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
      MONGO_INITDB_DATABASE: ipd_project_rest_api_mongo_db
    networks:
      - backend

  postgres_db:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ipd_project_rest_api_postgres_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend


networks:
  backend:
    driver: bridge

volumes:
  mongo_data:
    driver: local
  postgres_data:
    driver: local